<md-sidenav-container>
  <md-sidenav mode="over" class="main-sidebar" color="primary" #sidenav opened="false">
    <md-toolbar color="primary">
        <span class="fill-remaining"></span>
         <button md-icon-button (click)="sidenav.close()">
            <i class="material-icons">arrow_back</i>
         </button>
    </md-toolbar>
  </md-sidenav>

  <div class="main-container">
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon class="md-24" >menu</md-icon>
         </button>
         <h2>
            {{title}}
        </h2>
    </md-toolbar>
      <div class="content-placeholder">
        {{title}}
      </div>
  </div>
</md-sidenav-container>